@keyframes submit {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}

.top_cart {
    height: 400px;
    background-image: url(./img/cart_bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &_section {
        padding-top: 126px;
        padding-bottom: 126px;

        &_h1 {
            font-weight: 600;
            font-size: 64px;
            line-height: 70px;
            color: $color_text;
        }

        &_mobile {
            display: none;
        }
    }
}

.cart {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 64px;

    &_box {
        grid-column: span 8;

        &_top {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: -7px;

            &_p1 {
                padding-left: 3px;
                margin-bottom: 14px;
            }

            &_p2 {
                padding-right: 27px;
                margin-bottom: 14px;
            }
        }



    }

    &_item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
        padding-top: 32px;
        border-top: 0.5px solid #CACDD8;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.02);
            background-color: rgb(247, 244, 241);
            border-radius: 10px;
        }

        &_box {
            display: flex;

            &_img {
                width: 177px;
                height: 177px;
                padding-right: 32px;
            }

            &_description {
                &_h3 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;

                    color: #000000;
                    padding-bottom: 14px;
                }

                &_p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    width: 276px;
                    color: #888888;
                    padding-bottom: 16px;
                }

                &_price {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    padding-bottom: 15px;
                    color: #050505;
                }

                &_links {
                    height: 29px;
                    display: flex;
                    text-decoration: underline;

                    &_1 {
                        color: #000000;
                        margin-right: 30px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 210%;
                    }

                    &_2 {
                        color: #000000;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 210%;
                    }
                }

            }


        }

        &_select_number {

            background: #F7F6F6;
            border-radius: 6px;
            width: 71px;
            height: 51px;
            display: flex;

            &_1 {
                border-radius: 6px;
                outline: none;
                width: 47px;
                height: 27px;
                border: transparent;
                background-color: #F7F6F6;
                padding-top: 12px;
                padding-bottom: 12px;

                &::placeholder {

                    font-weight: 600;
                    font-size: 14px;
                    line-height: 210%;
                    color: #000000;
                    text-align: center;
                }
            }

            .vectors {
                display: flex;
                flex-direction: column;
                padding-top: 16px;
                padding-bottom: 16px;
                justify-content: space-between;
            }

        }
    }

    &_buttons {
        padding-top: 18px;

        &_1 {
            width: 200px;
            height: 37px;
            border: 1px solid #000000;
            border-radius: 50px;
            background-color: transparent;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #020202;
            transition: all 0.3s;

            &:hover {
                background-color: #000;
                color: $color_text;
            }
        }

        &_2 {
            width: 200px;
            height: 37px;
            border: 1px solid #000000;
            border-radius: 50px;
            background-color: transparent;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #020202;
            transition: all 0.3s;

            &:hover {
                background-color: #000;
                color: $color_text;
            }
        }
    }

    &_form {
        grid-column: span 4;
        width: 379px;
        height: 556px;
        background: #F7F6F6;
        border-radius: 20px;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 5px rgb(34, 34, 34);
        }

        &_box {
            display: flex;
            flex-direction: column;
            padding-top: 42px;

            &_h2 {
                height: 36px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                align-items: center;
                text-align: center;
                color: #000000;
                padding-bottom: 35px;
            }

            &_name {
                outline: none;
                box-sizing: border-box;
                margin-left: 28px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                width: 288px;
                border-color: transparent;
                border-bottom: 1px solid #CACDD8;
                background-color: transparent;
                margin-bottom: 41px;

                &::placeholder {
                    color: #000000;
                }
            }

            &_tel {
                outline: none;
                box-sizing: border-box;
                margin-left: 28px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                width: 288px;
                border-color: transparent;
                border-bottom: 1px solid #CACDD8;
                background-color: transparent;
                margin-bottom: 44px;

                &::placeholder {
                    color: #000000;
                }
            }

            &_adress {
                outline: none;
                box-sizing: border-box;
                margin-left: 28px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                width: 288px;
                border-color: transparent;
                border-bottom: 1px solid #CACDD8;
                background-color: transparent;
                margin-bottom: 64px;

                &::placeholder {
                    color: #000000;
                }
            }

            &_price {
                height: 29px;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                align-items: center;
                text-align: center;
                color: #000000;
                margin-bottom: 18px;

                &_span {
                    font-weight: 400;
                }
            }

            &_submit {
                width: 290px;
                height: 41px;
                border: 1px solid #040404;
                border-radius: 20px;
                box-sizing: border-box;
                margin-left: 45px;
                transition: all 0.3s;

                &:hover {
                    background-color: #000;
                    color: $color_text;
                    animation: submit 2s ease-in-out 0s 1 normal forwards;
                }
            }
        }

    }
}

.special_link {
    display: block;
    padding-top: 33px;
    padding-bottom: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-decoration-line: underline;

    color: #000000;
    transition: all 0.3s;

    &:hover {
        color: #888888;
        text-decoration: none;
    }
}