.cata_top {
    height: 400px;
    background-image: url(./img/catalog_top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cata_nav_box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.top_section_catalog {



    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: $color_text;
    padding-top: 126px;
    padding-bottom: 126px;
}

.cata_nav_items_1 {
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.catalog_selection {
    box-sizing: border-box;

    width: 288px;
    height: 41px;

    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding-left: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.cata_hover {
    color: #000000;
    text-decoration: none;
}

.cata_hover:hover {
    text-decoration: underline;
}

.cata_box_footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;
    display: block;
    padding-top: 32px;
    transition: all 0.3s;

    &:hover {
        color: #888888;
        text-decoration: none;
    }
}

.cata_box {
    margin-bottom: 64px;
}

.catalog_boxes {
    row-gap: 52px;
    column-gap: 32px;
    padding-top: 41px;
}