@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 834px;

        &_input {
            display: none;
        }

        &_nav {
            display: none;
        }

        &_header {
            border: transparent;
            height: 57px;
            padding-top: 32px;

            &_logo {
                width: 99px;
            }
        }

        &_mobile {
            display: flex;
            gap: 33px;
            align-items: center;
        }

        &_section {
            &_h1 {
                font-size: 48px;
                text-align: center;
                padding-top: 29px;
                line-height: 59px;

            }

            &_p1 {
                font-size: 16px;
                text-align: center;

            }

            &_link_box {
                text-align: center;
                font-size: 14px;
            }
        }
    }

    .for {
        &_grid {
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
        }

        &_header {
            font-size: 24px;
            line-height: 29px;
            padding-top: 32px;
        }

        &_item {
            height: 375px;
            grid-column: 1 / -1;
            font-size: 28px;
            line-height: 34px;

            &_unique {
                height: 244px;
            }
        }
    }

    .special {
        padding-top: 32px;

        &_boxes {
            gap: 32px;
        }

        &_box {
            width: 100%;

            &_img {
                width: 100%;
            }
        }

        &_h2 {
            font-size: 24px;
            line-height: 29px;
            width: 345px;
        }



        &_h3 {
            font-size: 18px;
            line-height: 22px;
        }

        &_price_true {
            font-size: 18px;
            line-height: 22px;
        }

        &_price_false {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .catalog {
        padding-top: 36px;

        &_h2 {
            font-size: 24px;
            line-height: 29px;
        }

        &_h3 {
            font-size: 18px;
            line-height: 22px;
        }

        &_boxes {
            gap: 32px;
        }

        &_box {
            width: 100%;

            &_img {
                width: 100%;
            }
        }

        &_price_true {
            font-size: 18px;
            line-height: 22px;
        }

        &_bottom_link {
            margin-top: 36px;
            padding-bottom: 32px;
        }
    }

    .footer_box {
        padding-bottom: 32px;
    }

    .footer_content {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;

        &_box {
            gap: 100px;
            padding-bottom: 34px;
        }


    }

    .catalog_boxes_default {
        display: none
    }

    .catalog_boxes_display {
        display: none;
    }

    .cata_nav_box {
        padding-top: 32px;
        flex-direction: column;
        gap: 16px;
    }

    .catalog_prices_display {
        display: block;
    }

    .catalog_price_display {
        display: block;
        font-size: 18px;
        line-height: 22px;
    }

    .catalog_prices {
        display: flex;
        gap: 29px;
    }



    .catalog_box_mobile {
        display: block;
    }

    .catalog_boxes_mobile {
        display: flex;
        gap: 32px;
    }

    .cata_box {
        margin-bottom: 32px;
    }

    .top_section_catalog {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 0px;
    }

    .top_cart_section_mobile {
        display: block;
        padding-top: 100px;
        text-align: center;

        &_h1 {
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            color: $color_text;
        }
    }

    .top_cart_section {
        display: none;
    }

    .cart_box_top {
        padding-bottom: 91px;

        &_p1 {
            display: none;
        }

        &_p2 {
            display: none;
        }
    }


    .cart {
        padding-top: 0px;

        &_item {
            padding-top: 18px;
            padding-bottom: 18px;

            &_box {
                &_description {
                    &_h3 {
                        font-size: 18px;
                        line-height: 22px;
                    }

                    &_p {
                        font-size: 12px;
                        line-height: 15px;
                    }

                    &_price {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                &_img {
                    display: none;
                }
            }
        }

        &_buttons {
            display: flex;
            gap: 14px;
        }

        &_form {
            margin-top: 48px;
            width: 100%;

            &_box {
                align-items: center;

                &_name {
                    margin-right: 28px;
                }

                &_tel {
                    margin-right: 28px;
                }

                &_adress {
                    margin-right: 28px;
                }

                &_submit {
                    margin-left: 0px;
                }
            }
        }
    }

    .special_link {
        padding-bottom: 32px;
    }
}